# ColdBox Name and Environment
APPNAME=ColdBox
ENVIRONMENT=development
ASSET_URL=/includes

# BoxLang Environment
BOXLANG_DEBUG=true

# Database Information
DB_CONNECTIONSTRING=jdbc:mysql://127.0.0.1:3306/cbgenesis?useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useLegacyDatetimeCode=true&allowPublicKeyRetrieval=true
DB_DRIVER=MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_SCHEMA=
DB_DATABASE=cbgenesis
DB_USER=root
DB_PASSWORD=